

<div class="container bs-docs-container">
<div class="row">
<div class="col-md-9" role="main">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@user.picture_url, :width => 600) if @user.picture.present? %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>
</div>
