<!DOCTYPE html>

<html lang="en">

<body id="page-top">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Flock together with people of similar interests!</h1>
                <hr>
                <p><font color="#000000">Attend events that align with your interests and meet others who have similar passions.</font></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Login Here!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
      <body style="background-color:white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Don't have an account?</h2>
                    <hr class="light">
                    <p class="text-faded">Create an account to see which events are happening near you!</p>
                    <a href="#" class="btn btn-default btn-xl">Sign Up</a>
                </div>
            </div>
        </div>
      </body>
    </section>

    <section id="contact">
        <div class="container">
            <head>
              <title>Flockr</title>
              <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
              <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
              <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
              <%= csrf_meta_tags %>
            </head>
            <body>

            <div class="container">
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
              <%= yield %>
            </div>

            </body>
        </div>
    </section>

    <!-- jQuery -->
    <%= stylesheet_link_tag "application.js" %>
    <script src="../../../assets/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../assets/javascripts//bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../../assets/javascripts//jquery.easing.min.js"></script>
    <script src="../../../assets/javascripts//jquery.fittext.js"></script>
    <script src="../../../assets/javascripts//wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../../assets/javascripts//creative.js"></script>

</body>