
<div align='center'>
  <h1>Upcoming Events</h1>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <% @events.first(10).each do |event| %>
        <h3>
          <strong> <%= link_to event.title, event %> </strong>
        </h3>

        <p>
          <%= event.date.strftime("%B %d, %Y")  %>
          <%= event.time.strftime("%I:%M %p") %>
        </p>  

        <p>
          <%= event.address %>
        </p>

        <p>
          Description: <%= event.description %>
        </p>
      <% end %>

      <%= link_to 'New Event', new_event_path %>
    </div>
  </div>
</div>
